.App {
  text-align: center;
}


.description {
  color: rgb(39, 0, 139);
  font-style: italic;
}

.cardbody {
  width: 350px;
  height: 100%;
  margin-bottom: 20px;
  margin-left: 20px;
  display: inline-block;
}